@import "tailwindcss";

/* font faces */
@font-face {
	font-family: 'NectoMono';
	src: url('/fonts/NectoMono-Regular.woff2') format('woff2'), url('/fonts/NectoMono-Regular.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Absans';
	src: url('/fonts/Absans-Regular.woff2') format('woff2'), url('/fonts/Absans-Regular.woff') format('woff'), url('/fonts/Absans-Regular.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


/* global */
html[data-theme="light"],
:root {
	--color-bg: #eef2f7;
	--color-primary: #212629;
	--color-secondary: #495357;
	--color-accent: #1c81c9;
	--color-accent2: #0275a3;

	--color-bg-element: #21262905;

	--font-mono: "NectoMono", monospace;
	--font-sans: "Absans", sans-serif;
}

html[data-theme="dark"] {
	--color-bg: #001233;
	--color-primary: #d4e0e9;
	--color-secondary: #b4c4cb;
	--color-accent: #3abaff;
	--color-accent2: #0494c8;

	--color-bg-element: #d4e0e905;

	--font-mono: "NectoMono", monospace;
	--font-sans: "Absans", sans-serif;
}

/* base styles */
@layer base {
	a:focus-visible,
	button:focus-visible {
		outline: 2px solid var(--color-accent);
		outline-offset: 4px;
		border-radius: 2px;
	}

	::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}

	::-webkit-scrollbar-track {
		background: var(--color-primary);
	}

	::-webkit-scrollbar-thumb {
		background: var(--color-secondary);
	}

	::-webkit-scrollbar-thumb:hover {
		background: var(--color-accent);
	}

	html,
	body {
		margin: 0;
		padding: 0;
		width: 100dvw;
		height: 100dvh;
	}

	body {
		background-color: var(--color-bg);
		color: var(--color-primary);
		font-family: var(--font-mono);
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	}

	a,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-mono);
		letter-spacing: 0.05em;
	}

	p {
		font-family: var(--font-sans);
	}

	h1 {
		color: var(--color-accent);
	}

	a {
		color: var(--color-accent);
		text-decoration: none;
		transition: color 0.2s ease-in-out;
	}

	a:hover {
		color: var(--color-primary);
		text-decoration: none;
	}

	code,
	pre,
	kbd {
		font-family: var(--font-mono);
	}

	::selection {
		background-color: var(--color-primary);
		color: var(--color-bg);
	}

	button:hover {
		color: var(--color-accent);
	}

	button,
	header,
	nav,
	footer a {
		transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	}

	html[data-theme="light"] .dark-icon {
		display: none;
	}

	html[data-theme="light"] .light-icon {
		display: inline-block;
	}

	html[data-theme="dark"] .dark-icon {
		display: inline-block;
	}

	html[data-theme="dark"] .light-icon {
		display: none;
	}
}