---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>R-Besson</title>

		<script is:inline>
			const theme = (() => {
				if (localStorage.getItem("theme")) {
					return localStorage.getItem("theme");
				}
				if (
					window.matchMedia("(prefers-color-scheme: dark)").matches
				) {
					return "dark";
				}
				return "light";
			})();

			document.documentElement.setAttribute("data-theme", theme);

			const htmlElement = document.documentElement;
			document.addEventListener("DOMContentLoaded", () => {
				const themeToggleButton = document.getElementById("theme-toggle");
				themeToggleButton?.addEventListener("click", () => {
					const currentTheme = htmlElement.getAttribute("data-theme");
					const newTheme = currentTheme === "light" ? "dark" : "light";
	
					htmlElement.setAttribute("data-theme", newTheme);
					localStorage.setItem("theme", newTheme);
				});
			})
		</script>
	</head>
	<body>
		<slot/>
	</body>
</html>
